#containter {
	border: 1px solid "red";
	width: 900px;
	height: auto;
	margin: auto;
	border: 1px solid #000;
}
img {
	width:300px;
	height:300px;
}

table, td {
	border: 1px #70b8ff solid;
}

#header	{
	position: center;
	height: 200px;
	width: 900;
	border: 1px solid #000;
	background-image: url(http://slatehitech.homestead.com/bigstockphoto_Header_regarding_technology_an_792246.jpg);
}
#menubar	{
	height: 48px; 
	width: 900px;
	border: 1px solid #green; 
	background-color: lightblue;
}
#mainbody	{
	width: 596;
	height: auto;
	margin: auto;
	border: 1px solid #000;
}
.menulinks {
	height: 40px;
	text-align: center;
	border: #0000;
}

.menulinks ul {
	margin: auto; 
	position: relative; top: 15px; 
}

.menulinks li { 
	padding: 2px 2px 2px 2px;
	margin: 0px 20px 0px 0px;
	list-style: none; 
	display: inline; 
	boder 1 px solid #0000;
}
.menulinks li a {
	color: #black;
	text-decoration: none;
	font-size: 16px;
	padding: 0px;
}

.menulinks li a:hover {
	color: #red;
	text-decoration: underline;
	font-size: 16px;
	padding: 0px;
}

#lmargin {
	margin-top: 50px;
	margin-bottom: 50px;
	height: auto;
	width: 140px;
	float: left;
	border: 1px solid #0F3;
}
#rmargin {
	margin-top: 50px;
	margin-bottom: 50px;
	height: auto;
	width: 140px;
	float: right;
	border: 1px solid #black;
}	
#footer {
	clear: both;
	height: 50px;
	border: 1px solid #0F3;
}