/* Øvre Meny */
#cssmenu ul {
  margin: 0;
  padding: 7px 6px 0;
  background: #ff8000 url(images/overlay.png) repeat-x 0 -110px;
  line-height: 100%;
  border-radius: 1em;
  font: normal 0.5333333333333333em Arial, Helvetica, sans-serif;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  width: 1039px;
  
}
#cssmenu li {
  margin: 0 5px;
  padding: 0 0 8px;
  float: left;
  position: relative;
  list-style: none;
}
#cssmenu a,

#cssmenu a:link {
  font-weight: bold;
  font-size: 13px;
  color: #e7e5e5;
  text-decoration: none;
  display: block;
  padding: 8px 20px;
  margin: 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  
}
#cssmenu a:hover {
  background: #000;
  color: #fff;
}
#cssmenu .active a,
#cssmenu li:hover > a {
  background: #ff9933 url(images/overlay.png) repeat-x 0 -40px;
  background: #666666 url(images/overlay.png) repeat-x 0 -40px;
  color: #444;
  border-top: solid 1px  #f8f8f8;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 0 #ffffff;
}
#cssmenu ul ul li:hover a,
#cssmenu li:hover li a {
  background: none;
  border: none;
  color: #666;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
#cssmenu ul ul a:hover {
  background: #ff8000 url(images/overlay.png) repeat-x 0 -100px !important;
  color: #fff !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
#cssmenu li:hover > ul {
  display: block;
}
#cssmenu ul ul {
  display: none;
  margin: 0;
  padding: 0;
  width: 185px;
  position: absolute;
  top: 40px;
  left: 0;
  background: url(images/overlay.png) repeat-x 0 0;
  border: solid 1px #b4b4b4;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
#cssmenu ul ul li {
  float: none;
  margin: 0;
  padding: 3px;
}
#cssmenu ul ul a,
#cssmenu ul ul a:link {
  font-weight: normal;
  font-size: 12px;
}
#cssmenu ul:after {
  content: '.';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}







/* Venstre meny*/
#cssmenu1 ul {
  left- margin: 5px;
  padding: 7px 6px 0;
  background: #ff8000 url(images/overlay.png) repeat-x 0 -110px;
  line-height: 100%;
  border-radius: 1em;
  font: normal 0.5333333333333333em Arial, Helvetica, sans-serif;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  width: 100px;
	float:left;

		
			
  
}
#cssmenu1 li {
  margin: 5 0px;
  padding: 0 0 8px;
  float: down;
  position: relative;
  list-style: none;
}
#cssmenu1 a,

#cssmenu1 a:link {
  font-weight: bold;
  font-size: 13px;
  color: #e7e5e5;
  text-decoration: none;
  display: block;
  padding: 8px 20px;
  margin: 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  
}
#cssmenu1 a:hover {
  background: #000;
  color: #fff;
}
#cssmenu1 .active a,
#cssmenu1 li:hover > a {
  background: #ff9933 url(images/overlay.png) repeat-x 0 -40px;
  background: #666666 url(images/overlay.png) repeat-x 0 -40px;
  color: #444;
  border-top: solid 1px  #f8f8f8;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 0 #ffffff;
}
#cssmenu1 ul ul li:hover a,
#cssmenu1 li:hover li a {
  background: none;
  border: none;
  color: #666;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
#cssmenu1 ul ul a:hover {
  background: #ff8000 url(images/overlay.png) repeat-x 0 -100px !important;
  color: #fff !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
#cssmenu1 li:hover > ul {
  display: block;
}
#cssmenu1 ul ul {
  display: none;
  margin: 0;
  padding: 0;
  width: 185px;
  position: absolute;
  top: 0px;
  left: 100px;
  background: url(images/overlay.png) repeat-x 0 0;
  border: solid 1px #b4b4b4;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
#cssmenu1 ul ul li {
  float: none;
  margin: 0;
  padding: 3px;
}
#cssmenu1 ul ul a,
#cssmenu1 ul ul a:link {
  font-weight: normal;
  font-size: 12px;
}
#cssmenu1 ul:after {
  content: '.';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/*Venstre meny*/











/* Database/Handlevogn */

#products-wrapper {
	width: 950px;
	padding-top: 20px;
	margin-right: 0px;
	margin-left: 100px;
	font: 12px Arial, Helvetica, sans-serif;
}
.products {
	float:left;
	width:500px;
	margin-right: 200px;
	margin-left: 20px;
}
.product {
	margin-bottom: 20px;
	width: 650px;
	height: 75px;
	background: #FF9540;
	padding: 10px;
	border: 1px solid #DDD;
	border-radius: 5px;
	 background: #ff8000 url(images/overlay.png) repeat-x 0 -110px;
	
	  font:  Arial, Helvetica, sans-serif;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
	
	box-shadow: 2px 2px 2px #F8F8F8;

	
}
.product .product-thumb {
	float: left;
	height: 100px;
	width: 100px;
	margin-right: 10px;
}
.product .product-content{
	overflow:hidden;
}
.product .product-content h3 {
	font-size: 18px;
	margin: 0px;
	padding: 0px;
	color: #e7e5e5;
}
.product .product-info {
	float: right;
	font-size: 13px;
	font-weight: bold;
	margin-top:10px;
}

.shopping-cart{
	width: 20%;
	float: right;
	
	 background: #ff8000 url(images/overlay.png) repeat-x 0 -110px;
	  font:  Arial, Helvetica, sans-serif;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
	
	
	padding: 10px;	

	border-radius: 5px;

}
.shopping-cart h2 {
	background: #E2E2E2;
	padding: 4px;
	font-size: 14px;
	margin: -10px -10px 5px;
	color: #707070;
}

.shopping-cart h3,.view-cart h3 {
	font-size: 12px;
	margin: 0px;
	padding: 0px;
}
.shopping-cart ol{
	padding: 1px 0px 0px 15px;
}
.shopping-cart .cart-itm, .view-cart .cart-itm{
	border-bottom: 1px solid #DDD;
	font-size: 11px;
	font-family: arial;
	margin-bottom: 5px;
	padding-bottom: 5px;
}
.shopping-cart .remove-itm, .view-cart .remove-itm{
	font-size: 14px;
	float: right;
	background: #D5D5D5;
	padding: 4px;
	line-height: 8px;
	border-radius: 3px;
}
.shopping-cart .remove-itm:hover, .view-cart .remove-itm:hover{
	background: #C4C4C4;
}
.shopping-cart .remove-itm a, .view-cart .remove-itm a{
	color: #888;
	text-shadow: 1px 1px 1px #ECECEC;
	text-decoration:none;
}

.check-out-txt{
	float:right;
}




/*** view cart **/
.view-cart{
	width: 400px;
	margin-left:100px;
	float:left;
	background: #FF9540;
	padding: 10px;	
	position: relative;
	border: 1px solid #DDD;
	border-radius: 5px;
}
.view-cart .p-price{
	float: right;
	margin-right: 10px;
	font-size: 12px;
	font-weight: bold;
}
.view-cart .product-info{width:60%;}

/* Database/handlevogn over */





/* HOVED CSS FIL*/



#wrap { 
	width: 1100px; 
	margin: 0 auto; 
}
background-position:center;
} 

h3
{
text-align: left;
font-size:35px;
color: #ffffff;
}

#footer {
  position:absolute;
  top: 1000px;
   left:500px;
   height:100px;
   width:100%;

}

img {
	width:100px;
	height:75px;
	left-margin: 50px;
}




/* Kjøp knapp */
.add_to_cart {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:25px;
	line-height:25px;
	width:65px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
}
.add_to_cart:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.add_to_cart:active {
	position:right;
	top:1px;
	
}


.bakgrunn {
box-shadow: 10px 10px 5px #888;
width: 750px;
float: center;
   margin:1px auto 0 80px;
}

#header	{
 
	margin: 0px;
	position: center;
	height: 180px;
	width: 1050px;
	background-image: url(datakjop.png);
	-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			border-radius: 10px;
			-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
			-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}
.søk {
	position: top; 
	text-align: right;
	padding-bottom: 50px;
	
}


#bekreftelse {
font-size: 16px;
position: center;
}



#sokbar {
	height: 50x;
	width: 1050px;
	color: black;
	background-color: #lightblue;
}
.soklinks {
	height: 40px;
	text-align: center;
}

.soklinks ul {
	margin: auto; 
	position: relative; top: 15px; 
}

.soklinks li { 
	padding: 2px 2px 2px 2px;
	margin: 0px 20px 0px 0px;
	list-style: none; 
	display: inline; 
	boder 1 px solid: #0000;
}
.soklinks li a {
	color: #black;
	text-decoration: underline;
	font-size: 30px;
	padding: 0px;
	
 }


/* HOVED CSS FIL */





